@page "/websites/{id}"
@using Microsoft.Web.Administration
@using IIGO.Services

<a href="/websites">&laquo; Back to List</a>

@if (site == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<h1>Website: @site.Name (Id: @site.Id)</h1>

	<div class="container">
		<div class="row">
			<div class="col-4">
				<h3>Bindings</h3>
				<ul>
				@foreach (var b in site.Bindings)
				{
					<li>@b.BindingInformation</li>
				}
				</ul>
			</div>
			<div class="col-6">
				<h3>Details</h3>
				<dl>
					<dt>Status</dt>
					<dd>@site.State</dd>
					<dt>Path</dt>
					<dd>@site.Applications.First().VirtualDirectories.First().PhysicalPath</dd>
				</dl>
			</div>
			<div class="col-2">
				<div class="row">
					<div class="col-6">
						<button @onclick="@(e => RestartSite())" class="btn btn-primary">Restart</button>
					</div>
					@if (site.State == ObjectState.Stopped)
					{
						<div class="col-6">
							<button @onclick="@(e => StartSite())" class="btn btn-success">Start</button>
						</div>
					}
					@if (site.State == ObjectState.Started)
					{
						<div class="col-6">
							<button @onclick="@(e => StopSite())" class="btn btn-danger">Stop</button>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
}

@code {
	private Site site;

	[Parameter]
	public string Id { get; set; }

	private long SiteId;

	protected override async Task OnInitializedAsync()
	{
		SiteId = Convert.ToInt64(Id);
		site = await IISService.GetSite(SiteId);
	}

	private string ToHex(byte[] data)
	{
		string hex = "";
		if (data != null)
		{
			foreach (byte b in data)
				hex += b.ToString("x2");
		}

		return hex;
	}

	protected async Task RestartSite()
	{
		await IISService.RestartSite(SiteId);
	}

	protected async Task StartSite()
	{
		await IISService.StartSite(SiteId);
	}

	protected async Task StopSite()
	{
		await IISService.StopSite(SiteId);
	}
}