@page "/apppools"
@using IIGO.Services
@using System.Timers
@using Microsoft.Web.Administration
@inject IHttpContextAccessor httpContextAccessor
@attribute [Authorize(Roles = "Administrator,Manager")]
@rendermode InteractiveServer

<PageTitle>Application Pools</PageTitle>

<h1>Application Pools</h1>

<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="3000" Placement="ToastsPlacement.TopRight" />

@if (pools == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-primary">Monitor</button>

    if (LastMessage != null)
    {
        <div class="alert alert-@(Success ? "success" : "danger") alert-dismissable mt-4">
            @LastMessage
            @* <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> *@
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Identity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pool in pools)
            {
                <tr>
                    <td><a href="/apppools/@pool.Name">@pool.Name</a></td>
                    <td>@pool.State</td>
                    <td>@(pool.ProcessModel.IdentityType == ProcessModelIdentityType.SpecificUser ? pool.ProcessModel.UserName : pool.ProcessModel.IdentityType)</td>
                    <td>
                        <button @onclick="@(e => RecyclePool(pool.Name))" class="btn btn-primary">Recycle</button>&nbsp;
                        @if (pool.State == ObjectState.Stopped)
                        {
                            <button @onclick="@(e => StartPool(pool.Name))" class="btn btn-success">Start</button>
                        }
                        @if (pool.State == ObjectState.Started)
                        {
                            <button @onclick="@(e => StopPool(pool.Name))" class="btn btn-danger">Stop</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<ApplicationPool>? pools = null;
    private Timer timer = new(5000);
    private string? LastMessage = null;
    private bool Success = true;

    protected override async Task OnInitializedAsync()
    {
        pools = await IISService.GetAppPools();
        timer.Elapsed += (sender, eventArgs) => UpdateValues();
        timer.Start();
    }

    protected void UpdateValues()
    {
        _ = InvokeAsync(async () =>
        {
            LastMessage = null;
            pools = await IISService.GetAppPools();
            StateHasChanged();
        });
    }

    protected async Task RecyclePool(string poolName)
    {
        // try
        // {
        //     ShowMessage($"{poolName} recycled!", "Success", ToastType.Success);
        // }
        // catch(JSDisconnectedException){}
        LastMessage = $"{poolName} recycled!";
        await IISService.Recycle(poolName);
    }

    protected async Task StartPool(string poolName)
    {
        LastMessage = $"{poolName} started!";
        await IISService.StartPool(poolName);
    }

    protected async Task StopPool(string poolName)
    {
        LastMessage = $"{poolName} stopped!";
        await IISService.StopPool(poolName);
    }

    List<ToastMessage> messages = new List<ToastMessage>();

    private void ShowMessage(string message, string title, ToastType toastType) => messages.Add(CreateToastMessage(message, title, toastType));

    private ToastMessage CreateToastMessage(string message, string title, ToastType toastType)
    => new ToastMessage
        {
            Title = title,
            Type = toastType,
            HelpText = $"{DateTime.Now}",
            Message = message,
        };
}