@page "/websites"
@using IIGO.Data
@using IIGO.Services
@using Microsoft.AspNetCore.Identity
@using Microsoft.Web.Administration
@inject IHttpContextAccessor httpContextAccessor
@inject IISService IISService
@attribute [Authorize(Policy = Feature.ViewWebsites)]
@rendermode InteractiveServer

<PageTitle>Websites</PageTitle>

<h1>Websites</h1>

@if (sites == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (httpContextAccessor.HttpContext!.User.IsInRole("Administrator"))
    {
           <a href="/websites/new" class="btn btn-primary">Add Website</a>
    }
    <button @onclick="Reload" class="btn btn-success">Reload</button>

    if (LastMessage != null)
    {
        <div class="alert alert-@(Success ? "success" : "danger") alert-dismissable mt-4">
            @LastMessage
            @* <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> *@
        </div>
    }

    <ConfirmDialog @ref="dialog" />

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Binding</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var site in sites)
            {
                <tr>
                    <td>@site.Id</td>
                    <td><a href="/websites/@site.Id">@site.Name</a></td>
                    <td>@site.State</td>
                    <td style="max-width:200px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">@String.Join(";", site.Bindings.Select(x => x.BindingInformation))</td>
                    <td style="max-width:200px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">@site.Applications[0].VirtualDirectories[0].PhysicalPath</td>
                    <td>
                        @if (httpContextAccessor.HttpContext!.User.IsInRole("Administrator"))
                        {
                            <button @onclick="@(e => RestartSite(site.Id))" class="btn btn-primary">Restart</button><text>&nbsp;</text>
                            @if (site.State == ObjectState.Stopped)
                            {
                                <button @onclick="@(e => StartSite(site.Id))" class="btn btn-success">Start</button><text>&nbsp;</text>
                            }
                            else if (site.State == ObjectState.Started)
                            {
                                <button @onclick="@(e => StopSite(site.Id))" class="btn btn-danger">Stop</button><text>&nbsp;</text>
                            }
                            <button @onclick="@(e => DeleteSite(site.Id))" class="btn btn-danger">Delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    private ConfirmDialog dialog = default!;
    List<Site>? sites;
    private string? LastMessage = null;
    private bool Success = true;

    protected async Task Reload()
    {
        try
        {
            sites = IISService.GetSites();
            LastMessage = null;
        }
        catch { }
        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        try
        {
            sites = IISService.GetSites();
        }
        catch { }
    }

    protected void RestartSite(long siteId)
    {
        try
        {
            var site = IISService.GetSite(siteId);
            LastMessage = $"{site?.Name} restarted!";
        }
        catch {}
        IISService.RestartSite(siteId);
    }

    protected void StartSite(long siteId)
    {
        try
        {
            var site = IISService.GetSite(siteId);
            LastMessage = $"{site?.Name} started!";
        }
        catch { }
        IISService.StartSite(siteId);
    }

    protected void StopSite(long siteId)
    {
        try
        {
            var site = IISService.GetSite(siteId);
            LastMessage = $"{site?.Name} stopped!";
        }
        catch { }
        IISService.StopSite(siteId);
    }

    protected async Task DeleteSite(long siteId)
    {
        var confirmation = await dialog.ShowAsync(
            title: "Are you sure you want to delete this website?",
            message1: "This will delete the website and cannot be reversed.",
            message2: "Do you want to proceed?");

        if (confirmation)
        {
            string? siteName = null;
            try
            {
                var site = IISService.GetSite(siteId);
                siteName = site?.Name;
            }
            catch { }

            try
            {
                IISService.DeleteWebsite(siteId);
                LastMessage = $"{siteName} deleted!";
            }
            catch { }

            try
            {
                sites = IISService.GetSites();
            }
            catch { }
            await InvokeAsync(StateHasChanged);
        }
    }
}